<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css"></link>
</head>
<body>
    

<h1 class="page-header">Welcome to authentication app</h1>

<div class = "container-1">
    <h1 class="heading">Login</h1>
    <% if(messages.error){ %>
        <%= messages.error %>
            <% } %>
                <form action="/login" method="POST" class="form-container">

                    <div class="input-container">
                        <input type="email" id="email" name="email" required placeholder="Enter email"><br>
                        <input type="password" id="password" name="password" required placeholder="Enter password">
                    </div>
                    <button id="login" type="submit">Login</button>
                </form>
                <button><a href="/auth/google">Google</a></button><br>
                <a href="/register">Register</a><br>               
</div>
</body>


</body>
</html>